* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --letraTitulos: "Alfa Slab One", cursive;
  --letraTextos: "Lato", sans-serif;
  --letraSubtitulos: "Bebas Neue", sans-serif;

  --colorBotones: #fd0000;
  --hoverBotones: #ff2b2b;
  --colorTitulos: #462b12;
  --colorEnjoy: #f5ad39;
}

.container {
  padding-top: 64px;

  margin: auto;
}

.hero {
  height: 100vh;
  background-image: linear-gradient(
      120deg,
      rgb(251, 255, 43, 0.5) 0%,
      rgb(255, 185, 63, 0.5) 100%
    ),
    url(../img/hero-pattern.jpg);
  background-position: center center;
}

.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.hero__header .logo {
  color: var(--colorTitulos);
  font-size: 40px;
  font-weight: 600;
  font-family: var(--letraSubtitulos);
  letter-spacing: 0.125rem;
}

.hero__header .logo img {
  width: 4rem;
  height: 4rem;
  color: var(--colorTitulos);

  vertical-align: middle;
}

.hero__header a {
  text-decoration: none;
}

.hero__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu__items {
  display: flex;
  list-style: none;
  gap: 40px;
}

.hero__menu h4 {
  font-size: 19.2px;
  font-family: var(--letraTextos);
  color: var(--colorTitulos);
}

.hero__delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hero__delivery img {
  width: 3.5rem;
  height: 3.5rem;
}
.menu__items .item {
  font-family: var(--letraSubtitulos);
  font-size: 1.3rem;
  letter-spacing: 0.25rem;
}

.menu__items .item a {
  text-decoration: none;
  color: var(--colorTitulos);
}

.hero__main {
  /* height: calc(100vh - 8.95rem); */
  display: flex;
  justify-content: space-evenly;
}

.hero__text {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  line-height: 1;
  justify-content: center;

  color: var(--colorTitulos);
  gap: 16px;
}

.hero__text h2 {
  font-family: var(--letraTitulos);
  font-size: 112px;
  text-shadow: 0.25rem 0.25rem 0.375rem #f2f2f2;
}

.hero__text h3 {
  font-family: var(--letraTitulos);
  font-size: 64px;
  text-shadow: 0.25rem 0.25rem 0.375rem #f2f2f2;
}

.hero__text p {
  font-family: var(--letraTextos);
  font-size: 17.6px;
  padding: 8px 16px;
  border: 0.125rem dashed var(--colorTitulos);
  font-weight: 400;
  width: max-content;
}

.hero__img {
  min-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero__img img {
  width: 100%;
}

.hero__sale {
  position: absolute;
  left: 176px;
  bottom: 160px;

  background-color: var(--colorBotones);
  padding: 24px;
  border-radius: 50%;
  border: 0.25rem dashed #f2f2f2;
  outline: 0.3125rem solid var(--colorBotones);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
  font-family: var(--letraSubtitulos);
}

.price,
.only,
.price small {
  color: #f2f2f2;
}

.price {
  font-size: 49.6px;
  font-family: var(--letraSubtitulos);
}

.price small {
  font-size: 32px;
}

.only {
  font-size: 44.8px;
  letter-spacing: 0.3125rem;
}

/*TRY*/

.try {
  width: 100%;
}

.try__grid {
  padding: 40px 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  grid-template-areas:
    "burger1 burger2"
    "burger1 burger3";
  transition: all 1.2s ease;
  opacity: 0;
  transform: translateX(1000px);
}

.try__grid .try__item {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #f2f2f2;
  border-radius: 16px;
  box-shadow: 0rem 0rem 0.4375rem #000;
  text-shadow: 1px 1px 2px #000;
  padding: 32px;
}

.try__grid .grid__item1 {
  background-image: url(../img/grid-big.webp);
  grid-area: burger1;
  min-height: 30rem;
}
.try__grid .grid__item2 {
  background-image: url(../img/grid-small1.webp);
  grid-area: burger2;
}
.try__grid .grid__item3 {
  background-image: url(../img/grid-small2.jpg);
  grid-area: burger3;
}

.try__grid .try__item p {
  font-family: var(--letraTextos);
  font-size: 20.8px;
  font-weight: 500;
  letter-spacing: 0.1875rem;
}

.try__grid .try__item h3 {
  font-size: 36.8px;
  font-family: var(--letraSubtitulos);
  letter-spacing: 0.3125rem;
  line-height: 1;
}

/* try js classes */

.try__grid .try__item {
}

.aparecer__tarjeta {
  opacity: 1;
  transform: translateY(0);
}

/* enjoy */

.enjoy {
  margin: auto;
  padding: 48px 0;

  display: flex;
  flex-direction: column;
}

.enjoy__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
  transition: opacity 1.2s ease;
}

.enjoy__text h3 {
  font-family: var(--letraSubtitulos);
  font-size: 32px;
  font-weight: 400;
  background-color: var(--colorEnjoy);
  padding: 1rem 2rem;
  color: var(--colorTitulos);
}

.enjoy__text h2 {
  font-family: var(--letraTitulos);
  font-size: 64px;
  color: var(--colorTitulos);
}

.enjoy__text p {
  font-family: var(--letraTextos);
  max-width: 80%;
  font-size: 22.4px;
  color: var(--colorTitulos);
}

.enjoy__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 1.2s ease;
}

.enjoy__cards .card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.enjoy__cards .card img {
  width: 100%;
}

.enjoy__cards .card h3 {
  font-family: var(--letraSubtitulos);
  font-size: 40px;
  color: var(--colorTitulos);
  line-height: 1;
}
.enjoy__cards .card p {
  font-family: var(--letraTextos);
  font-size: 19.2px;
  color: var(--colorTitulos);
}

.enjoy__cards .card a {
  font-family: var(--letraTitulos);
  font-size: 1.1rem;
  letter-spacing: 0.125rem;
  text-decoration: none;

  color: #f2f2f2;
  background-color: var(--colorBotones);
  padding: 16px 32px;
}

.enjoy__cards .card a:hover {
  background-color: var(--hoverBotones);
}

/* events */

.events {
  margin: auto;
  max-width: 1200px;
  padding: 3rem;
}

.events__carrusel {
  overflow: hidden;
  /* padding: 2rem; */

  /* background-color: #434343; */
}

.container__Carrusel {
  position: relative;
  padding: 2rem;
  box-shadow: 0px 10px 15px #434343;
  overflow: hidden;
}
.carrusel__flex {
  width: 300%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  transition: transform 0.5s ease;
}

.carrusel__item {
  width: calc(100% / 3);

  min-height: 60vh;
  display: flex;
  justify-content: space-between;
}

.carrusel__img {
  width: 50%;
  /* background-color: #fd0000; */
}

.carrusel__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  /* background-color: #fd0000; */
}

.carrusel__text {
  width: 50%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.carrusel__text h4 {
  font-family: var(--letraSubtitulos);
  font-size: 2.3rem;
  color: var(--colorTitulos);
}

.carrusel__text h3 {
  font-family: var(--letraTitulos);
  font-size: 3rem;
  line-height: 1;
  color: var(--colorTitulos);
}

.carrusel__text p {
  font-family: var(--letraTextos);
  color: var(--colorTitulos);
  font-size: 1.3rem;
  padding-top: 2rem;
}

.carrusel__dots {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  left: 5rem;
  bottom: 2rem;
  list-style: none;
}

.carrusel__dots .dot__item {
  width: 20px;
  height: 20px;
  background-color: #c2c2c2;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
}

.carrusel__dots .dotActivo {
  background-color: #f5ad39;
}
